.div-carousel{
    height: 40vh;
    background: url('../images/monartisan-banner-compressed.jpeg') top no-repeat;
    background-size: cover ;

}
.div-banner2{
    height: 40vh;
    background: url('../images/background-bznner.jpeg') top no-repeat;
    background-size: cover ;
}
.bt:hover{
    background: black;
}
.btt{
    background: #ea580c;
}
.btt:hover{
    background: black;
}

.btn-back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    z-index: 9999;
  }
  
  .btn-back-to-top:hover {
    background-color: #333;
  }
  